<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/CCH"/>
        <property name="username" value="postgres"/>
        <property name="password" value="ahmed"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="ahmed.foudi.entities"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <bean id="competitionDao" class="ahmed.foudi.dao.CompetitionDAO">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="cyclistDao" class="ahmed.foudi.dao.CyclistDAO">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="generalResultDao" class="ahmed.foudi.dao.GeneralResultDAO">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="resultDao" class="ahmed.foudi.dao.ResultDAO">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="stageDao" class="ahmed.foudi.dao.StageDAO">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="teamDAO" class="ahmed.foudi.dao.TeamDAO">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
